h1 {
    color: #ed6663;
    font-family: 'Manrope', sans-serif;
    font-size: 70px;
}

input {
    min-width: 400px;
    border-style: none none solid none;
    background-color: #1b262c;
    border-color: #ed6663;
    color: white;
    text-align: center;
    outline: none;
}

table .table .table-bordered {
    color: white;
}

button#top5 {
    font-family: 'Manrope', sans-serif;
    background-color: #ffa372;
    text-decoration: none;
    border: none;
    color: #1b262c;
}

table#myTable {
    color: white;
}

.mybtn {
    background-color: #1b262c;
    text-decoration: none;
    border: none;
    color: white;
}

#box {
    align-self: center;
    background-color: #1b262c;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-family: 'Manrope', sans-serif;
    border-style: solid solid solid solid;
    border-color: white;
}